* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html { 
    font-family: sans-serif;;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #dfdede;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 100%;
    height: 3rem;
    position: fixed;
    top: 0;
    left: 0;
}

/* style nav bar */

nav {
    display: flex;
    justify-content: space-between;
    width: 80%;
}
/* nav for visitors */

.not-auth,
.auth {
    justify-content: space-between;
    width: 30%;
    align-items: center;
}
.not-auth {
    display: flex;
}
.auth {
    display: none;
}
.login, 
.sign-up {
    width: 45%;
    height: 70%;
}
.btn-login,
.btn-sign-up {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    font-weight: bold;
}

.btn-login {
    background-color: #fff;
    border: 2px solid #0079D3;
    color: #0079D3;
}
.btn-sign-up {
    background-color: #0079D3;
    color: #fff;
    border: none;
}
.btn-login:hover {
    background-color: rgb(226, 246, 255);
    cursor: pointer;
}
.btn-sign-up:hover {
    background-color: #0080e2;
    cursor: pointer;
}
.btn-login:active {
    background-color: rgb(208, 241, 255);
}
.btn-sign-up:active {
    background-color: #0f97ff;
}

/* nav for users */

.create,
.user {
    width: 45%;
    height: 70%;
}
.btn-create,
.btn-user {
    width: 90%;
    height: 100%;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    color: #fff;
}
.btn-create {
    background-color: #0079D3;
}
.btn-user {
    color: #000;
    background-color: #fff;

}
.create-content,
.user-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 3px 18px;
    width: 100%;
    height: 100%;
}
.btn-create:hover {
    background-color: #0080e2;
    cursor: pointer;
}
.btn-create:active {
    background-color: #0f97ff;
}
.btn-user:hover {
    cursor: pointer;
    color:#FF4500;
}
.user-icon {
    max-width: 20px;
}
.content-btn-user:hover {
    padding-bottom: 2px;
    border-bottom: 2px solid #000;
}
.btn-logout {
    padding: 3px;
    background-color: #FF4500;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.btn-logout:hover {
    background-color: #ff591d;
}
.btn-logout:active {
    background-color: #ff6e3a;
}

/* section trending */

.trending {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 55%;
    height: 270px;
    margin-top: 100px;
}

.trending-topic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 220px;
}

.topic-1 {
    background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.6)), url('/img/sky.jpg');
}
.topic-2 {
    background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.6)), url('/img/night.jpg');
}
.topic-3 {
    background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.6)), url('/img/palnet.jpeg');
}
.topic {
    width: 32%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    background-size: cover;
    border-radius: 10px;
}

.topic-title, 
.topic-content {
    color: #fff;
    padding: 15px;
    background-color: #ff000046;
    width: 100%;
}
.topic-content {
    font-size: 0.9rem;
    font-weight: bold;
    background-color: #07070746;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
}

/* section popular posts */ 

.popular {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 55%;
    margin-top: 50px;
}
.container-posts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin-top: 25px;
}
.card {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 480px;
    width: 100%;
    margin-bottom: 25px;
    background-color: #FFF;
    border-radius: 7px;
    border: 1px solid #c2c2c2;
}
.like {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 10%;
    height: 100%;
    padding-top: 20px;
    background-color: #e9e9e9;
    border-radius: 7px 0px 0px 7px;

}
.post-inf {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    height: 100%;
    padding: 20px;
}
.user-info,
.comment-info,
.remove-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
}
.comment-info,
.post-title,
.remove-info {
    margin-left: 20px;
}
.user-icon1 {
    max-width: 25px;
}
.user-name {
    margin-left: 15px;
}
.post-title {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    font-weight: bold;
}
.post-img {
    height: 300px;
    width: 85%;
    border-radius: 20px;
    align-self: center;
    border: 2px solid #c2c2c2;
}
.commtens-number,
.remove-btn {
    color: #757575;
    margin-left: 5px;
    text-decoration: none;
}
.commtens-number:hover,
.remove-btn:hover {
    color: #ff591d;

}
.up:hover,
.down:hover {
    background-color: #ff591d;
    border-radius: 15px;
}
.user-btn,
.post-btn,
.comment-btn {
    text-decoration: none;
    color: #000;
}
.user-btn:hover,
.post-btn:hover {
    color: #ff591d;
}


/* MODAL STYLE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}

.modal {
    display: none;
    position: fixed;
    top: 0%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    align-items: center;
    justify-content: center;
}

.modal-content {
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 800px;
    height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 15px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 15%;
    padding: 0px 30px;
    color: #FF4500;

}
.close {
    font-size: 3rem;
    font-weight: bold;
}

.close:hover, 
.close:focus {
    color: #FF4500;
    cursor: pointer;
}
.modal-title {
  
    font-weight: bold;
    font-style: italic;
    font-size: 1.5rem;
}

.modal-body {
    width: 100%;
    height: 350px;
    padding: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.modal-test {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-around;
}
.item {
    display: flex;
    flex-direction: column;
}
#post-title,
#post-url,
#post-content {
    margin: 8px 0px;
    font-size: 1.2rem;
    border-radius: 10px;
    border: 2px solid rgb(172, 172, 172);
    outline: none;
    padding: 0px 15px;
}
#post-title,
#post-url {
    height: 50px;
}
#post-url {
    font-size: 0.7rem;
}
#post-content {
    height: 80px;
    padding: 20px;
    font-style: italic;
    font-size: 1rem;
    color: #FF4500;
}
.btn-create1 {
    align-self: center;
}
.buttoncr {
    height: 40px;
    width: 100px;
    background-color: #0079D3;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    color: #fff;
    cursor: pointer;
}
.buttoncr:hover {
    background-color: #0081e4;
}
.buttoncr:active {
    background-color: #0086ec;
}

/* error style */ 
.error-container {
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.error-img{
    max-width: 40% ;
}
.error-title {
    margin-top: 40px;
    font-weight: bold;
}
.error-title {
    font-size: 2rem;
}
.err-btn {
    margin-top: 30px;
}
.error-img1 {
    max-width: 40% ;
    border: 30px;
    
}